* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #1f1f1f;
  }
  
  h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
  }

  .bebas-neue {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: white;
  }
  
  .navbar {
    padding: 32px;
    border-bottom: 1px solid #1f1f1f;
    color: #fff;
    background-image: linear-gradient(to right, rgb(52,96,140), rgb(0,48,143));
  }
  
  #search-box {
    padding: 16px 32px;
    border-right: 1px solid #1f1f1f;
  }
  
  #search-button {
    width: 100%;
  }

  #search-button:hover {
    background-color: rgb(52,96,140);
    border: #ADD8E6;
    color: white;
  }

  .fa-search {
    margin-left: 1vh;
  }

  .list-group {
    padding-top: 18px;
  }
  
  #weather-box {
    padding: 32px;
  }

  #city-box {
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
  }
  
  #city-list li:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .temp {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
  }
  
  .bold {
    font-weight: bold;
  }

  #five-day-box {
    padding: 32px 0;
    text-align: center;
  }

  #five-day-box p {
    color: white;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #34608c;
    margin-bottom: 16px;
  }
  
  .uvFavorable, .uvModerate, .uvSevere {
    border: 1 px solid #1f1f1f;
    border-radius: 10px;
    background-color: lightgreen;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
  }
  
  .uvFavorable {
    background-color: lightgreen;
  }

  .uvModerate {
    background-color: orange;
  }
  
  .uvSevere {
    background-color: tomato;
  }
  
  